{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" type="image/png" href="../static/img/big-map-white-transparent.png">
{% endblock css %}

{% block body %}
<main>
    <p></p>
    <p class="go-back"><a href="../index.html">&lt; Go back to the app summary</a></p>

    <div class="submenu-entry">
        <div class="submenu-img">
            {% if logo %}
                <img src="{{ logo }}" alt="{{ metadata.title }}">
            {% else %}
                <img src="../static/img/big-map-white-transparent.png" alt="{{ metadata.title }}">
            {% endif %}
        </div>
        <div class="app-card-text">
            <h1>{{ metadata.title }}</h1>
            <p class="sub-header">
            {% if categories %}
                {% for category in categories %}
                    <span class="category">{{ category_map[category]["title"] }}</span>
                {% endfor %}
            {% else %}
                No categories specified.<br>
            {% endif %}
            </p>
        </div>
    </div>

    <h2>General information</h2>
    {% if metadata.git_url %}
    <div>
        <p>
            <strong>Source code</strong>: <a href="{{ git_url }}" target="_blank">Go to the app source code</a>
        </p>
    </div>
    {% endif %}

    {% if metadata.external_url %}
        <p>
            <strong>App homepage</strong>: <a href="{{ metadata.external_url }}" target="_blank">Go to app homepage</a>
        <p>
    {% endif %}

    {% if metadata.documentation_url %}
        <p>
            <strong>Documentation</strong>: <a href="{{ metadata.documentation_url }}" target="_blank">Go to app documentation</a>
        <p>
    {% endif %}

    <h2>
        Detailed information
    </h2>
    {% if metadata %}
    <div id='description'>
        <p>
            <strong>Author(s)</strong>: {{ metadata.authors }}
        </p>
        <p>
            <strong>Affiliation(s)</strong>: {{ metadata.affiliations }}
        </p>
        <p>
            <strong>Short description</strong>: {{ metadata.description }}
        </p>
        {% if metadata.version %}
        <p>
            <strong>Most recent version</strong>: {{ metadata.version }}
        </p>
        {% endif %}

    </div>
    {% else %}
    <div id='description'>
        <p>
            Unable to retrieve meta information for this app.
            Ask the app developers to provide a <code>metadata.json</code>
            file in the app source code.
        </p>
    </div>
    {% endif %}

    <h2>Video showcase</h2>

    {% if metadata.video_installation_url and metadata.video_demonstration_url %}

        <div style="display: flex; justify-content: center;">
            <div style="margin-right: 20px;">
                <h3>Installation</h3>
                <iframe width="640" height="480" src="{{ metadata.video_installation_url }}" frameborder="0" allowfullscreen></iframe>
            </div>
            <div style="margin-left: 20px;">
                <h3>Demonstration</h3>
                <iframe width="640" height="480" src="{{ metadata.video_demonstration_url }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

    {% else %}
    <div >
        <p>
            Unable to retrieve video information for this app.
            Ask the app developers to provide a <code>metadata.json</code>
            file in the app source code.
        </p>
    </div>

    {% endif %}

</main>

{% endblock body %}



{% block logoimagesrc %}../static/img/big-map-white-transparent.png{% endblock logoimagesrc %}

{% block eulogoimagesrc %}../static/img/eu-logo.png{% endblock %}
